<h1>Chi-Text</h1>

<pre>
.(`-       . .                      .,
(    )      ! !                    .(  )
 (   )      ! !       .`^.        (' .  )
  `~`      .!.!.      (   )       (.    )                    ,____,
           |###|       `..)         (.)'                     |l##l|
           |...|                                             |....|
           |...|                          ,.,             !  |....|
           | ,_|,                          '              !  |....|   .  .
           | | .|                                    .   ,^, |... |   !  !
 .mmm.     | |. |   .. ..                            !  ,```,| .. |   !  !
 mnmnm    ,|_| .|   !! !!    |````,                  !  |`''||. ..|   !  !
 |.`.|    |. |. |  .!!.!!.   |....|,                 !  |```|| .  |  .!==!.
 |...|    | .|__|, | :...|   |...,||       /'\   +~~~!; | ..|| .. |  :~/\~:
 |...|    |. |., | |.i..,._._:_,..||      /e p\  +~~~^---+ .||....|  |/``\|
 |...|    | .| _`| | i .|.....@@..|| .....\ d /. |.......|. || .  |  |\  /|
.:...:.```|. /\`\| |.i..|.. .//\\ ||.-i=-=|\./,. |.. ....| .||  . |  | \/ |
:=,,,=:```| /..\`\ | i. |... |  | ||.-i=-=| w |. |.... ..|. ||.. .|  | /\ |
:-...-:```|:|...:`||.i .|. ..|``| ||.-i=-=| w |. |.. ....| .|| .  |..|/  \|..
:=====:```|:|+-+:`|| i..|....[  ] ||.-i=-=| w |. l.......l  || oo |. |    | .
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
</pre>