<div class="wrapper">
	<h1>Chi &ndash;Text</h1>

	<h2>(312) 698-3-CHI<span>(244)</span></h2>


	<div class="column-container">
		<div>
			<h3>Mission</h3>

		</div>

		<div>
			<h3>Features</h3>

		</div>

		<div>
			<h3>About</h3>

		</div>
	</div>

	<input class="big" type="text"></input><button type="submit">Try it out</button>

	<div class="footer"></div>
</div>