<div class="wrapper">
	<h1>Chi<span class="star">&#x2736;</span>Text</h1>

	<h2>(312) 698-3-CHI<span>(244)</span></h2>

<form method="POST" id="welcome_form">
	<input class="big" id="phone_num" type="text" placeholder="(      )        -       "></input><button type="submit">Try it out</button>
</form>

	<div class="column-container">
		<div>
			<h3>Mission</h3>
<p>We are an SMS-based service to provide access to City of Chicago Municipal data.</p>
		</div>

		<div class="commands">
			<h3>Features</h3>
			<p>PLOW + address</p>
			<p>FLU + address</p>
			<p>POLICE + address</p>
			<p>FIRE + address</p>
			<p>LIBRARY + address</p>
		</div>

		<div>
			<h3>About</h3>
<p>The Chi-Text team is Kennedy Collins, Brad Osgood, Kurt Rudolph, and Graham Troyer-Joy.</p>
		</div>
	</div>

	<div class="footer"></div>
</div>