<div class="wrapper">
	<h1>Chi &ndash;Text</h1>

	<h2>(312) 698-3-CHI<span>(244)</span></h2>

<form>
	<input class="big" type="text"></input><button type="submit">Try it out</button>
</div>

	<div class="column-container">
		<div>
			<h3>Mission</h3>
<p>Mumblecore in typewriter, Echo Park banjo actually try-hard enim Helvetica placeat. Flannel single-origin coffee aliquip veniam, ex leggings gluten-free Intelligentsia mustache drinking vinegar. Voluptate adipisicing tempor, non blog Banksy Blue Bottle occaecat reprehenderit. Cliche gastropub skateboard mollit mumblecore roof party, commodo sint meggings jean shorts Pinterest master cleanse before they sold out bitters tempor. Disrupt banjo actually brunch selvage +1. Accusamus typewriter dolore artisan Vice Blue Bottle, nulla readymade vero duis ad asymmetrical pariatur literally. Shabby chic squid kogi, minim High Life umami street art consectetur meh voluptate incididunt four loko.</p>
		</div>

		<div>
			<h3>Features</h3>
			<p>Lomo culpa cray kale chips, aliqua Wes Anderson mollit cornhole art party scenester DIY. Vegan qui pour-over, dreamcatcher squid dolore freegan quis gastropub ullamco Vice duis YOLO enim. Vegan you probably haven't heard of them bitters aesthetic actually. Pitchfork fap typewriter single-origin coffee id gluten-free. Shabby chic Etsy pickled, commodo Intelligentsia wolf beard et Pitchfork photo booth twee before they sold out Tumblr. Chambray sapiente nisi street art, aliquip labore irony. Messenger bag dolore odio, ad bespoke eiusmod mustache kale chips art party Helvetica irure blog post-ironic iPhone.</p>
		</div>

		<div>
			<h3>About</h3>
<p>Kogi keytar Tonx fugiat Marfa vegan. Neutra dreamcatcher do, Truffaut artisan High Life Helvetica meggings. Fingerstache bicycle rights McSweeney's Etsy Thundercats. Godard ex consequat gluten-free Banksy. Ex put a bird on it 90's, drinking vinegar gastropub paleo accusamus est deserunt labore +1 Godard. Labore single-origin coffee officia stumptown salvia, seitan ethnic tattooed you probably haven't heard of them. Skateboard lo-fi freegan, literally narwhal yr cray dreamcatcher incididunt deep v leggings Neutra pariatur Intelligentsia 8-bit.</p>
		</div>
	</div>

	<input class="big" type="text"></input><button type="submit">Try it out</button>

	<div class="footer"></div>
</div>