// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face
{

font-family: 'Gotham Black';
    src: font-url('Gotham-Black.eot');
    src: font-url('Gotham-Black.eot?#iefix') format('embedded-opentype'),
         font-url('Gotham-Black.woff') format('woff'),
         font-url('Gotham-Black.ttf') format('truetype'),
         font-url('Gotham-Black.svg#gotham_black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Gotham Medium';
    src: font-url('Gotham-Medium.eot');
    src: font-url('Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         font-url('Gotham-Medium.woff') format('woff'),
         font-url('Gotham-Medium.ttf') format('truetype'),
         font-url('Gotham-Medium.svg#gotham_medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height:100%
}

.wrapper {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    background: #002E79;
    min-height:100%
}
body {
    margin: 0;
    background: #047ac4;
    color: #fff;
    font-family: 'Gotham Medium', Arial, sans-serif;
    font-weight: 900;

    background: #7fceff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #7fceff 0%, #047ac4 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7fceff), color-stop(100%,#047ac4)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #7fceff 0%,#047ac4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #7fceff 0%,#047ac4 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #7fceff 0%,#047ac4 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #7fceff 0%,#047ac4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fceff', endColorstr='#047ac4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
h1 {
    font-size: 120px;
    text-transform: uppercase;
    margin: 0px;
    padding: 50px 0px 0px;
    font-family: 'Gotham Black', Arial, sans-serif;
    letter-spacing: 16px;
    color: #fff;
    text-indent: 15px;
}
h1 .star {
    font-family: "sans-serif";
    font-weight: normal;
    color: #ec2634;
}
h2 {
    font-size: 48px;
    color: #54beec;
    display: block;
    margin: 0 auto;
}
h2 span {
    display: block;
    float: right;
    font-size: 20px;
    letter-spacing: 4px;
    color: #429bd3;
    margin: 0px 200px;
}
.column-container {
    clear: both;
}
.column-container > div {
    width: 210px;
    display: inline-block;
    background: #004C92;
    margin: 10px;
    color: #429bd3;
    vertical-align: top;
    padding:10px;
    text-align:justify;
}
.column-container > div.commands {
    color: #54beec
}
.column-container h3 {
    text-align:center;
}

button, .big {
    margin: 0;
    font-size: 25px;
    border: 0;
    padding: 10px;
    color: #047ac4;
    font-family: 'Gotham Medium', Arial, sans-serif;
    border-radius:0;
}

button {
    background: #ec2634;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
}

.big {
    width: 203px;
}

form
{
    padding: 50px 0px;
    clear:both;
}